In [60]:
import pandas as pd
import sqlite3
import numpy as np
engine = sqlite3.connect('HW1_DB')

In [61]:
aug_flights_df = pd.read_csv( 'http://big.dataanalytics.education/data/Flights-Aug-2016.csv')

In [62]:
sep_flights_df = pd.read_csv( 'http://big.dataanalytics.education/data/Flights-Sep-2016.csv')

In [63]:
oct_flights_df = pd.read_csv( 'http://big.dataanalytics.education/data/Flights-Oct-2016.csv')

In [64]:
oct_flights_df.keys()

Index(['Year', 'Month', 'DayofMonth', 'Carrier', 'FlightNum', 'Origin',
       'OriginCity', 'OriginState', 'Dest', 'DestCity', 'DestState', 'DepTime',
       'ArrTime', 'ArrDelayMinutes', 'Cancelled', 'Unnamed: 15'],
      dtype='object')

In [65]:
oct_flights_df = oct_flights_df[['Year', 'Month', 'DayofMonth', 'Carrier', 'FlightNum', 'Origin','OriginCity', 'OriginState', 'Dest', 'DestCity', 'DestState', 'DepTime','ArrTime', 'ArrDelayMinutes', 'Cancelled']]

In [66]:
aug_flights_df = aug_flights_df[['Year', 'Month', 'DayofMonth', 'Carrier', 'FlightNum', 'Origin','OriginCity', 'OriginState', 'Dest', 'DestCity', 'DestState', 'DepTime','ArrTime', 'ArrDelayMinutes', 'Cancelled']]

In [67]:
sep_flights_df = sep_flights_df[['Year', 'Month', 'DayofMonth', 'Carrier', 'FlightNum', 'Origin','OriginCity', 'OriginState', 'Dest', 'DestCity', 'DestState', 'DepTime','ArrTime', 'ArrDelayMinutes', 'Cancelled']]

In [68]:
aug_flights_df.to_sql('flights_df',engine,index=False,if_exists='replace')
sep_flights_df.to_sql('flights_df',engine,index=False,if_exists='append')
oct_flights_df.to_sql('flights_df',engine,index=False,if_exists='append')

In [69]:
test_df = pd.read_sql('select Year from flights_df', engine)

## Step 6.1

In [70]:
len(test_df)

1425851

In [71]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1425851 entries, 0 to 1425850
Data columns (total 1 columns):
Year    1425851 non-null int64
dtypes: int64(1)
memory usage: 10.9 MB

In [72]:
test_df.describe()

            Year
count  1425851.0
mean      2016.0
std          0.0
min       2016.0
25%       2016.0
50%       2016.0
75%       2016.0
max       2016.0

In [73]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 3., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  3.0
3  4.0  1.0

In [74]:
series_1 = pd.Series(d['two']).drop_duplicates()

In [75]:
series_1

0    4.0
1    3.0
3    1.0
dtype: float64

In [76]:
airlines_df = pd.read_sql('select * from airlines_df', engine)
routes_df = pd.read_sql('select * from routes_df', engine)
airports_df = pd.read_sql('select * from airports_df', engine)

DatabaseError: Execution failed on sql 'select * from airlines_df': no such table: airlines_df

## Step 6.2.1