In [16]:
import pandas as pd
import sqlite3
import numpy as np
engine = sqlite3.connect('HW1_DB')

In [17]:
airlines_df = pd.read_sql('select * from airlines_df', engine)

DatabaseError: Execution failed on sql 'select * from airlines_df': no such table: airlines_df

In [ ]:
routes_df = pd.read_sql('select * from routes_df', engine)

In [ ]:
airports_df = pd.read_sql('select * from airports_df', engine)

In [ ]:
 airports_df.info()

In [ ]:
airlines_df.info()

routes_df.info()

## Step 4.0

In [ ]:
airports_df

In [ ]:
airports_df.describe()

In [ ]:
airlines_df

In [ ]:
airlines_df.describe()

In [ ]:
routes_df

In [ ]:
routes_df.describe()

In [ ]:
test = airports_df['airport_id'][airports_df['airport_id'].isin(routes_df['destination_airport_id']) == False ]

In [ ]:
len(airports_df['airport_id'][airports_df['airport_id'].isin(np.unique(routes_df['destination_airport_id'])) & airports_df['airport_id'].isin(np.unique(routes_df['source_airport_id']))]==False)

In [ ]:
len(np.unique(routes_df['destination_airport_id']))

In [ ]:
len(np.unique(routes_df['source_airport_id']))

In [ ]:
len(np.unique(airports_df['airport_id']))

## Step 4.1

In [ ]:
{'airports':6790,'destinations':3170,'sources':3167}

## Step 4.2

In [ ]:
flightnumber_df = pd.DataFrame(routes_df.groupby(['destination_airport_id']).count()).reset_index()
flightnumber_df = flightnumber_df.sort_values(['destination_airport_IATA/ICAO']).reset_index()
flightnumber2_df = flightnumber_df['destination_airport_IATA/ICAO']
import matplotlib.pyplot as plt
flightnumber2_df.plot()
plt.show()

In [ ]:
flightnumber2_df.hist()
plt.show()

In [ ]:
match_df = airports_df['airport_id'][airports_df['airport_id'].\
                          isin(routes_df['destination_airport_id']) & ~airports_df['airport_id'].\
                          isin(routes_df['source_airport_id'])].reset_index()

In [ ]:
dest_airports_id = airports_df['airport_id'][airports_df['airport_id'].\
                          isin(routes_df['destination_airport_id'])]

In [ ]:
len(np.unique(airports_df['airport_id'][airports_df['airport_id'].\
                          isin(routes_df['source_airport_id'])]))

In [ ]:
len(np.unique(dest_airports_id))

In [ ]:
dest_airports_id[~dest_airports_id.isin(routes_df['source_airport_id'])]

In [ ]:
match_df

In [ ]:
new_df = pd.merge(airports_df, match_df,left_on ="airport_id",right_on="airport_id")

## Step 4.3.1

In [ ]:
new_df #can fly to but not from

In [ ]:
routes_df.groupby('destination_airport_id',sort=True).count()

In [ ]:
finalmerged_df = pd.merge(airports_df,routes_df,left_on="airport_id",right_on="destination_airport_id")

In [ ]:
finalmerged2_df = finalmerged_df[["airport_name","destination_airport_id"]].copy()

In [ ]:
finalmerged2_df = finalmerged2_df.groupby("airport_name", sort=False).count()

In [ ]:
airport_rankings_df = finalmerged2_df.sort_values("destination_airport_id",ascending=False).reset_index()

In [ ]:
airport_rankings_df = airport_rankings_df.rename(columns={'airport_name': 'airport_name', 'destination_airport_id': 'count'})

## Step 4.3.2

In [ ]:
airport_rankings_df[0:10]

In [ ]:
import sqlite3
engine = sqlite3.connect('HW1_DB')

In [ ]:
performance_s_df = pd.read_sql_query("SELECT * FROM performance_df ORDER BY RANDOM() LIMIT 1000", con=engine)

In [ ]:
def compute_jaccard_index(series_1, series_2):
    series_1 = series_1.drop_duplicates()
    series_2 = series_2.drop_duplicates()
    #idx1 = pd.Index(series_1)
    #idx2 = pd.Index(series_2)
    n =pd.Series(list(set(series_1).intersection(set(series_2))))
    
    
    #print(len(idx1))
    #print(len(idx2))
    #n = idx1.intersection(idx2) #remove duplicates prior to intersect
    #print(n)
    union = len(series_1) + len(series_2) - len(n)
    return len(n)/float(union) #/float(len(set_1) + len(set_2) - n)

In [ ]:
routes_df.keys()

In [ ]:
performance_s_df.keys()

In [ ]:
distances = {}
for i in routes_df.keys():
    distances[i] = {}
    for j in performance_s_df.keys():
        if performance_s_df[j].apply(np.isreal)[0]==False:
            distances[i][j] = compute_jaccard_index(routes_df[i],performance_s_df[j])
            if distances[i][j] == 0:
                del distances[i][j]

## Step 5.1

In [ ]:
distances

In [ ]:
len(performance_s_df['Carrier'].drop_duplicates())

In [ ]:
len(routes_df['airline_IATA/ICAO'].drop_duplicates())

In [ ]:
10/(540+12)

In [ ]:
flights_s_df = routes_df.merge(performance_s_df,left_on=["destination_airport_IATA/ICAO",'airline_IATA/ICAO','source_airport_IATA/ICAO'],right_on=["Dest","Carrier","Origin"]).drop_duplicates()

In [ ]:
flights_s_df

In [ ]:
flights2_s_df = flights_s_df.groupby(['airline_IATA/ICAO','destination_airport_IATA/ICAO']).count().reset_index()
flights2_s_df = flights2_s_df.ix[:,['airline_IATA/ICAO','destination_airport_IATA/ICAO','airline_id']]
flights2_s_df = flights2_s_df.rename(columns={'airline_id': 'flights_number'})

## Step 5.2.1

In [ ]:
flights2_s_df

In [ ]:
flights_s_df = routes_df.merge(performance_s_df,left_on=["destination_airport_IATA/ICAO",'airline_IATA/ICAO','source_airport_IATA/ICAO'],right_on=["Dest","Carrier","Origin"]).drop_duplicates()
modflights_s_df = flights_s_df[flights_s_df['ArrDelayMinutes'] >= 30]
mod2flights_s_df = flights_s_df[flights_s_df['Cancelled'] > 0]
badflights_s_df =pd.concat([modflights_s_df,mod2flights_s_df])
badflights_s_df = badflights_s_df.groupby(['airline_IATA/ICAO','destination_airport_IATA/ICAO']).count().reset_index()

## Step 5.2.2

In [ ]:
badflights2_s_df = badflights_s_df.ix[:,['airline_IATA/ICAO','destination_airport_IATA/ICAO','airline_id']]
badflights2_s_df = badflights2_s_df.rename(columns={'airline_id': 'flights_number'})
badflights2_s_df

## Step 5.2.3

In [ ]:
badflights_s_df =badflights_s_df[badflights_s_df['airline_id'] > 1]
badflights2_s_df = badflights_s_df.ix[:,['airline_IATA/ICAO','destination_airport_IATA/ICAO','airline_id']]
badflights2_s_df = badflights2_s_df.rename(columns={'airline_id': 'flights_number'})
badflights2_s_df

In [ ]:
import matplotlib.pyplot as plt
badflights2_s_df.plot.bar()
plt.show()

## Step 5.2.4

In [ ]:
badflights_s_df =pd.concat([modflights_s_df,mod2flights_s_df])
badflights_s_df = badflights_s_df.groupby(['airline_IATA/ICAO']).count().reset_index()
badflights_s_df = badflights_s_df.ix[:,['airline_IATA/ICAO','airline_id']]
badflights_s_df = badflights_s_df.rename(columns={'airline_id': 'bad flights (>= 1 or cancelled)'})
badflights_s_df.sort_values("bad flights (>= 1 or cancelled)",ascending=False)